.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files (often contain secrets)
*.tfvars
*.tfvars.json


